.venv
__pycache__
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
experiments/.ipynb_checkpoints/training_size-checkpoint.ipynb
experiments/experiment_helpers/__pycache__
experiments/scores*
bin/*.txt
exp/**/data/
tensor_flow_ltr.py
datasets/raw_data/preflib
datasets/raw_data/letor/
datasets/Synthetic_Data/
settings.json